<a href="https://colab.research.google.com/github/sjw9307/Python2/blob/mater/Class_examp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
class Tv:
  power = "OFF"
  def turnOn(self):
    power = "ON"
    print("전원을 켠다.", power)


tv1 = Tv()
tv1.turnOn()

전원을 켠다. ON

In [13]:
class Student:
  name = "홍길동"
  stu_id = "1234"

  def display(self):
    print(self.name,"의 학번 :",self.stu_id)

stu1 = Student()
stu1.display()

홍길동 의 학번 : 1234

In [26]:
class Student:
  def __init__(self, name, stu_id):
    self.name = name
    self.stu_id = stu_id

  def display(self):
    print(self.name,"의 학번 :",self.stu_id)

stu1 = Student("Jinwon SEO" , "20228338")
stu1.display()
print(stu1.name,stu1.stu_id)

Jinwon SEO 의 학번 : 20228338
Jinwon SEO 20228338

In [25]:
class Tv:
  def __init__(self, power= "OFF", channel= "11"):
    self.power = power
    self.channel = channel
  
  def turnOn(self):
    self.power = "ON"

  def show(self):
    print("Tv상태", self.power, self.channel)
  

tv1 = Tv("On,5")
tv1.turnOn()
tv1.show()

Tv상태 ON 11

In [34]:
PI = 3.141592

class Circle:
  def __init__(self, radius= 0.0):
    self.radius = radius
  
  def getArea(self):
    return self.radius * self.radius * PI

C1 = Circle(5)
C1.getArea()

78.5398

In [44]:
class Calculator:
  def __init__(self, x= 0.0, y = 0.0):
    self.x = x;
    self.y = y;
    self.add_result = 0;
    self.sub_result = 0;
    
  def add(self):
    self.add_result = self.x + self.y

  def sub(self):
    self.sub_result = self.x - self.y

  def show_add_result(self):
    print("x와 y 의 합은: ", self.add_result ,"입니다.")

  def show_sub_result(self):
    print("x와 y 의 차는: ", self.sub_result ,"입니다.")

C2 = Calculator(1,0.5)
C2.add()
C2.sub()
C2.show_add_result()
C2.show_sub_result()

x와 y 의 합은:  1.5 입니다.
x와 y 의 차는:  0.5 입니다.

In [51]:
class BankAccount:
  def __init__(self, balance = 0.0):
    self.balance = balance;

  def deposit(self, income):
    if (income < 0) :
      print("입금하는 금액은 음수가 될 수 없습니다.")
    
    else :
      self.balance = self.balance + income
      return print("통장에", income,"이 입금되었습니다. 잔액: ", self.balance)
  
  def withdraw(self, withdraw):
    self.balance = self.balance - withdraw
    return print("통장에", withdraw,"만큼 출금되었습니다. 잔액: ", self.balance)
  
acc1 = BankAccount(100)
acc1.deposit(-1)
acc1.withdraw(10)

입금하는 금액은 음수가 될 수 없습니다.
통장에 10 만큼 출금되었습니다. 잔액:  90