<a href="https://colab.research.google.com/github/sjw9307/Python2/blob/mater/Class_examp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
class Tv:
  power = "OFF"
  def turnOn(self):
    power = "ON"
    print("전원을 켠다.", power)


tv1 = Tv()
tv1.turnOn()

전원을 켠다. ON

In [ ]:
class Student:
  name = "홍길동"
  stu_id = "1234"

  def display(self):
    print(self.name,"의 학번 :",self.stu_id)

stu1 = Student()
stu1.display()

홍길동 의 학번 : 1234

In [ ]:
class Student:
  def __init__(self, name, stu_id):
    self.name = name
    self.stu_id = stu_id

  def display(self):
    print(self.name,"의 학번 :",self.stu_id)

stu1 = Student("Jinwon SEO" , "20228338")
stu1.display()
print(stu1.name,stu1.stu_id)

Jinwon SEO 의 학번 : 20228338
Jinwon SEO 20228338

In [ ]:
class Tv:
  def __init__(self, power= "OFF", channel= "11"):
    self.power = power
    self.channel = channel
  
  def turnOn(self):
    self.power = "ON"

  def show(self):
    print("Tv상태", self.power, self.channel)
  

tv1 = Tv("On,5")
tv1.turnOn()
tv1.show()

Tv상태 ON 11

In [ ]:
PI = 3.141592

class Circle:
  def __init__(self, radius= 0.0):
    self.radius = radius
  
  def getArea(self):
    return self.radius * self.radius * PI

C1 = Circle(5)
C1.getArea()

78.5398

In [ ]:
class Calculator:
  def __init__(self, x= 0.0, y = 0.0):
    self.x = x;
    self.y = y;
    self.add_result = 0;
    self.sub_result = 0;
    
  def add(self):
    self.add_result = self.x + self.y

  def sub(self):
    self.sub_result = self.x - self.y

  def show_add_result(self):
    print("x와 y 의 합은: ", self.add_result ,"입니다.")

  def show_sub_result(self):
    print("x와 y 의 차는: ", self.sub_result ,"입니다.")

C2 = Calculator(1,0.5)
C2.add()
C2.sub()
C2.show_add_result()
C2.show_sub_result()

x와 y 의 합은:  1.5 입니다.
x와 y 의 차는:  0.5 입니다.

In [ ]:
class BankAccount:
  def __init__(self, balance = 0.0):
    self.balance = balance;

  def deposit(self, income):
    if (income < 0) :
      print("입금하는 금액은 음수가 될 수 없습니다.")
    
    else :
      self.balance = self.balance + income
      return print("통장에", income,"이 입금되었습니다. 잔액: ", self.balance)
  
  def withdraw(self, withdraw):
    self.balance = self.balance - withdraw
    return print("통장에", withdraw,"만큼 출금되었습니다. 잔액: ", self.balance)
  
acc1 = BankAccount(100)
acc1.deposit(-1)
acc1.withdraw(10)

입금하는 금액은 음수가 될 수 없습니다.
통장에 10 만큼 출금되었습니다. 잔액:  90

In [ ]:
class Item:
  def __init__(self, item_name = "", item_price = 0):
    self.item_name = item_name;
    self.item_price = item_price;

  def display_info(Item):
    print("물건 이름: ", Item.item_name)
    print("물건 가격: ", Item.item_price)


book = Item("책", 5000)
pen = Item("펜", 1000)

book.display_info()
pen.display_info()

물건 이름:  책
물건 가격:  5000
물건 이름:  펜
물건 가격:  1000

In [4]:
# 이 클래스는 간단한 계산기의 기능을 갖춘 Calculator 클래스입니다.
class Calculator:
  # 생성자 함수입니다. 이 클래스의 인스턴스가 만들어질 때 호출되며, 계산기의 초기 값을 0으로 설정합니다.
  def __init__(self):
      self.value = 0  # 인스턴스의 초기 값이 0이 됩니다.

  # add 함수는 주어진 값을 현재 값에 더하는 기능을 합니다.
  def add(self,val):
      self.value += val  # 주어진 val 값을 현재 값에 더합니다.

  # minus 함수는 주어진 값을 현재 값에서 뺀다는 기능을 합니다.
  def minus(self,val):
      self.value -= val  # 주어진 val 값을 현재 값에서 뺍니다.

# Calculator 클래스의 인스턴스를 생성합니다.
cal = Calculator()

# add 함수를 사용하여 10을 더합니다.
cal.add(10)

# minus 함수를 사용하여 7을 빼줍니다.
cal.minus(7)

# 마지막으로 계산 결과를 출력합니다. 초기 값이 0에서 10을 더하고 7을 뺀 3이 출력됩니다.
print(cal.value)

3

In [6]:
class Student:
  # 생성자 함수입니다.입력받은 이름과 학번을 저장합니다.
  def __init__(self, name, age):
      self.name = name  # 입력받은 이름을 인스턴스의 이름으로 설정합니다.
      self.age = age  # 입력받은 학번을 인스턴스의 학번으로 설정합니다.

# Student 클래스의 인스턴스를 생성하고, 이름과 학번을 설정합니다.
student1 = Student("홍길동", "12345")

# 학생의 이름과 학번을 출력합니다.
print("이름 : " ,student1.name, "학번 : ", student1.age)

이름 :  홍길동 학번 :  12345