<a href="https://colab.research.google.com/github/sjw9307/Python2/blob/mater/Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
park_times = [80, 130, 30, 230, 40] # 차량 5 대에 대한 주차 시간(분 단위) 리스트
free_time = 30 # 무료 주차 시간 (분 단위)
base_fee = 2000 # 기본 요금
extra_fee_rate = 500 # 추가 요금 비율 (10 분당 500 원)
total_fees = [] # 총 주차 요금 리스트 초기화
max_fee = 20000 # 최대 요금

def parkFee():
  for park_time in park_times: # 각 차량의 주차 시간에 대해 계산
      if park_time < free_time: #for문의 변수 설정이 i가 아닌 park로 설정되있어 조금 헤맸습니다 &30분에 대한 차량에 요금청구가 이해가 안갑니다.
          total_fee = 0
      else:
          total_fee = base_fee + ( ((park_time - free_time) // 10) * extra_fee_rate )
          total_fee = total_fee if total_fee <= max_fee else max_fee #삼항연산식
          #total_fee = min(total_fee, max_fee) min함수를 이용한 간단식
      
      total_fees.append(total_fee) # 사이즈가 정해지지 않은 total_fees배열에 append함수를 사용하여 배열을 채움.
  return total_fees

def main():
    print(f"주차 요금: {parkFee()}원")
  
main()

주차 요금: [4500, 7000, 2000, 12000, 2500]원

In [ ]:
students_name = []
students_number = []


def std_info():
    name = str(input("학생 이름을 입력하시오: "))
    id = int(input("학생 학번을 입력하시오: "))
    students_name.append(name)
    students_number.append(id)


def std_display(students_name, students_number):
    print(" -------------------------------- ")
    print("           학생정보             ")
    print(" -------------------------------- ")

    for i in range(len(students_name)):
        print(f" 학생번호 : {students_number[i]}   학생 이름 : {students_name[i]}")


def main():
    std_info()
    std_display(students_name, students_number)


if __name__ == '__main__':
    main()

학생 이름을 입력하시오: 야야
학생 학번을 입력하시오: 123
 --------------------------------
           학생정보
 --------------------------------
 학생번호 : 123   학생 이름 : 야야

In [ ]:
scores= []
cnt_80 = 0

while len(scores) < 5:
    input_score = input("성적을 입력하시오: ")
    if input_score.isdigit():
        scores.append(int(input_score))
    else:
        print("숫자만 입력 가능합니다.")

for i in range(len(scores)):
  if(scores[i] >= 80):
    cnt_80 = cnt_80 + 1

print(f" 성적평균 = { sum(scores) / len(scores) }")
print(f" 최대점수 = { max(scores) }")
print(f" 최소점수 = { min(scores) }")
print(f" 80점 이상 = { cnt_80} ")

성적을 입력하시오: 000
성적을 입력하시오: ㄴㄴㄴ
숫자만 입력 가능합니다.
성적을 입력하시오: 0
성적을 입력하시오: 2
성적을 입력하시오: 33
성적을 입력하시오: 000
 성적평균 = 7.0
 최대점수 = 33
 최소점수 = 0
 80점 이상 = 0

In [ ]:
#두번째로 큰 수를 찾고싶다면?

mylist = [-7,2,3,8,6,6,75,38,3,2]
print("sort함수가 안된 나의 리스트 : " , mylist)

mylist.sort()
print("sort함수가 완료된 나의 리스트 : " , mylist)

mylist.remove(max(mylist))

print("마지막으로 두번째로 가장 큰 수 : ", max(mylist))

sort함수가 안된 나의 리스트 :  [-7, 2, 3, 8, 6, 6, 75, 38, 3, 2]
sort함수가 완료된 나의 리스트 :  [-7, 2, 2, 3, 3, 6, 6, 8, 38, 75]
마지막으로 두번째로 가장 큰 수 :  38

In [ ]:
list1 = [1, 2, 3, 4, 15, 99]
# 리스트를 정렬한다. 
list1.sort()
# 뒤에서 두 번째 요소를 출력한다. 
print("두 번째로 큰 수=", list1[-2])

두 번째로 큰 수= 15

In [ ]:
heroes = ["Ironman","Thorr","Hulk"]

input_value = str(input("which hero are you looking for?"))

if (input_value in heroes) :
  heroes.remove(input_value)
else :
  print(input_value, " not exist")

print("All the heroes we have",heroes)

which hero are you looking for?aa
aa  not exist
All the heroes we have ['Ironman', 'Thorr', 'Hulk']

In [ ]:
#파이썬을 이용하여 친구들을 관리하는 프로그램을 작성하여 보자.

print(""" 
       ------------------
          1. 친구 리스트 출력
          2. 친구 추가
          3. 친구 삭제
          4. 이름 변경
          9. 종료
       -------------------
      """)

friends_list = []
while len(friends_list) < 9:
  menu_select = input(" 메뉴를 선택하시오 : ")
  
  if (menu_select.isdigit() and int(menu_select == 1)):
    print(friends_list)
  
  elif (menu_select.isdigit() and int(menu_select) == 2):
    friends_list.append(input("추가할 친구 이름을 입력하시오: "))

  elif (menu_select.isdigit() and int(menu_select) == 3):
    friend = str(input("삭제할 친구 이름을 입력하시오: "))

    if (friend not in friends_list):
        print("해당 친구는 친구 목록에 없습니다.")
    else : 
      friends_list.remove(friend) 
  
  elif (menu_select.isdigit() and int(menu_select) == 4):
      old_name = str(input("수정할 친구 이름을 입력하시오: "))
      if old_name in friends_list:
        index = friends_list.index(old_name)
        new_name = input("새로운 이름을 입력하시오:")
        friends_list[index] = new_name
      else :
        print("이름이 발견되지 않음.")

  elif (menu_select.isdigit() and int(menu_select) == 9):
    break

  else :
    print("잘못된 입력입니다.")

       ------------------
          1. 친구 리스트 출력
          2. 친구 추가
          3. 친구 삭제
          4. 이름 변경
          9. 종료
       -------------------

 메뉴를 선택하시오 : 9

In [ ]:
temps = [16,18,19,20,21,18,17]
day_of_week = ['mon','tue','wed','thur','fri','sat','sun']

Hottest_day = temps.index(max(temps))
print("the hotest day is", day_of_week[Hottest_day], "and ", max(temps),"degree")

the hotest day is fri and  21 degree

In [ ]:
salaries = [200,250,300,280,500]
print("인상 전: ", salaries)


def increment(salary_list) :
  for i in range(len(salaries)) :
    salaries[i] += salaries[i]*0.3

increment(salaries)

print("인상 후: ", salaries)

인상 전:  [200, 250, 300, 280, 500]
인상 후:  [260.0, 325.0, 390.0, 364.0, 650.0]

In [ ]:
my_list = [0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]
my_selected_list = []

for i in range(len(my_list)):
  if (my_list[i] % 2 == 0 & my_list[i] % 3 == 0) :
    my_selected_list.append(my_list[i])

print(my_selected_list)

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [ ]:
my_list = [0,1,2,3,4,5,6,7,8,9]

my_selected_list1 = []

for i in range (len(my_list)):
  if (my_list[i]%2 == 0) :
    my_selected_list1.append("짝수")
  
  else:
    my_selected_list1.append("홀수")

print(my_selected_list1)

['짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']

In [ ]:
score = [] 


def sum(s) :
  sum = 0
  while (len(score)!= 5) :
    score.append(int(input("성적을 입력하시오 ")))
  for i in range(len(score)) :
    sum = sum + score[i]
  
  return sum

print("이 학생의 총 점수는 :", sum(score),"입니다")

성적을 입력하시오30
성적을 입력하시오30
성적을 입력하시오30
성적을 입력하시오30
성적을 입력하시오30
이 학생의 총 점수는 : 150 입니다

In [ ]:
list1 = [4, 9, 7, 10]
list2 = ['z', 'c', 'f']

list1.sort()

for i in range(len(list2)):
    list2[i] = chr(ord(list2[i]) - 32)

print(list1)
print(list2)

[4, 7, 9, 10]
['Z', 'C', 'F']

In [ ]:
s = ["Hello World!"]
s2 = ["How are you?"]

result = list( set(s) & set(s2) )

for i in result:
  print(i, end = " ")

In [ ]:
# 사용자로부터 2개의 문자열을 받아서 두 문자열의 공통 문자를 출력하는 프로그램을 작성해보자.

s = input("첫 번째 문자열을 입력하세요: ")
s2 = input("두 번째 문자열을 입력하세요: ")

result = list(set(s) & set(s2))

for char in result:
    print(char, end=" ")

In [ ]:
# 사용자로부터 1개의 문자열을 받아서 중복되지 않은 단어의 개수를 출력하는 프로그램을 작성해보자.

s = input("중복되지 않을 단어 수를 셀 문자열을 입력하세요: ")

print(s)

after_splited = []
after_splited = s.split(" ")

after_setted = set(after_splited)

print(after_setted,len(after_setted))

중복되지 않을 단어 수를 셀 문자열을 입력하세요: i am u ha ha
i am u ha ha
{'i', 'ha', 'u', 'am'} 4

In [ ]:
temperature ={"MON":20,"TUES":15,"WED":14, 
              "THUR":13,"FRI":20,"SAT":19}

temperature["SUN"] = 19
print(temperature)

temperature.pop("SUN")
print(temperature)

for i in temperature:
  print(i, ":" , temperature[i] )

{'MON': 20, 'TUES': 15, 'WED': 14, 'THUR': 13, 'FRI': 20, 'SAT': 19, 'SUN': 19}
{'MON': 20, 'TUES': 15, 'WED': 14, 'THUR': 13, 'FRI': 20, 'SAT': 19}
MON : 20
TUES : 15
WED : 14
THUR : 13
FRI : 20
SAT : 19

In [43]:
#딕셔너리 초기화
eng_kor_d = {}

#딕셔너리 생성 예시 - 2
eng_kor_d = {"one": "하나", "two": "둘", "three": "셋"}
print(eng_kor_d)

e_word = input("영어 단어를 입력하시오: ")
if e_word in eng_kor_d:
    print(eng_kor_d[e_word])
else:
    print(e_word, "가 사전에 없습니다.")

{'one': '하나', 'two': '둘', 'three': '셋'}
영어 단어를 입력하시오: 하나
하나 가 사전에 없습니다.